.page-title-wrapper {
    color: white;
    text-align: center;
    display: block;  
    position: relative;
    margin-bottom: 1%;

}
.page-title-wrapper::before {
    content: "";
    background:#ca0603 ;
    height: 5%;
    top: 45%;
    display: block;
    position: absolute;
    width:100%;
    box-shadow: 0 0 5px #ca0603,0 0 10px #ca0603,0 0 12px #ca0603;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    position: relative;
    display: inline-block;
    z-index: 0;
    margin:1%;
    font-size: 1.6rem;

}

.title h1::before {
    content: "";
    background:#000f38 ;
    height: 100%;
    display: block;
    left:-5%;
    position: absolute;
    width: 110%;
    z-index: -1;
    border-radius: 10%;
    box-shadow: 0 0 5px #000f38,0 0 10px #ca0603,0 0 12px #ca0603;
    
}

.back-button {
    position: fixed;
    background: #000f38;
    color: white;
    font-size: 20px;
    display: flex;
    z-index: 3;
    box-shadow: 0 0 5px #ca0603,0 0 10px #ca0603,0 0 12px #ca0603;
    padding: 10px 20px;
    left:2px;
    top:30vh;
    border:none;

}

.back-button:hover {
    box-shadow: 0 0 5px #dcda15,0 0 10px #dcda15,0 0 12px #dcda15;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

@media only screen and (orientation:portrait) {
    .back-button {
        display: none;
    }    
}

@media only screen and (min-width:768px) and (orientation:landscape){
    .back-button {
        display: flex;
    } 

}

@media only screen and (min-width:992px) and (orientation:landscape){
    .title h1{
        font-size: 2rem;
    }
}

@media only screen and (min-width:1200px) and (orientation:landscape){
    .title h1{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width:1400px) and (orientation:landscape){
    .title h1{
        font-size: 2.8rem;
    }
}
